@import "tailwindcss";

:root {
  --color-bg: #0f172a;
  --color-primary: #38bdf8;
  --color-text: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #020617;
    --color-text: #f8fafc;
  }
}

/* Custom Scrollbar for Terminal */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111827; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563; 
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
